/* style.css */
head{
  background-color: #f2f2f2;
  text-align: center;
}
body {
    font-family: sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px;
  }
.subtitle{
text-align: left;
}
.my-button {
  background-color: #c6c6c6;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 0.25%;
  margin-bottom: 1%;
  font-size: clamp(0.5rem, 2.5vw, 0.75rem);
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 1rem;
  max-width: 100%;
  box-sizing: border-box;
}

  
.my-button:hover {
    background-color: #0056b3;
}  

.top-right-image {
    position: absolute; /* or fixed if you want it to stay while scrolling */
    top: 2.5%;
    right: 2.5%;
    width: 180px; /* adjust size as needed */
    height: auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .top-right-image {
    top: 2.5%;
    right: 2.5%;
    width: 120px; /* adjust size as needed */
    height: auto;
  }
}

@media (max-width: 480px) {
  .top-right-image {
    top: 2.5%;
    right: 2.5%;
    width: 80px; /* adjust size as needed */
    height: auto;
  }
}

.left-image {
  position: absolute; /* or fixed if you want it to stay while scrolling */
  left: 6%;
  width: 200px; /* adjust size as needed */
  height: auto;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  }

.responsive-text {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

.contenedor {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contenedor img {
  max-width: 100%;
  height: auto;
}

/* Para pantallas pequeñas (celulares) */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column; /* Imagen arriba, texto abajo */
    text-align: left;
  }
}

/* Estilos comunes */
.fa {
  display: inline-block;
  font-size: 24px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
}

.fa:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* Colores por red social */
.fa-linkedin { background: #007bb5; }
.fa-youtube  { background: #bb0000; }
.fa-instagram{ background: #cd1010; }
.fa-whatsapp { background: #12d225; }

/* Contenedor para alinear */
.socials {
  display: flex;
  justify-content: center; /* centrado horizontal */
  flex-wrap: wrap; /* en móvil se acomodan en varias filas */
}

/* Responsivo */
@media (max-width: 768px) {
  .fa {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .fa {
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}
